$darker: #343E3D;
$dark: #607466;
$light: #AEDCC0;
$vibrant: #7BD389;
$highlight: #38E4AE;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 45px;
  pointer-events: none;
}

.App-header {
  background-color: $dark;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: $highlight;
}

.App-content {
  background-color: #ffffff;
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
